@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0%;
    padding: 0;
    border: 0;
}
b{
    color: #7490ff;
}
nav{
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex; justify-content: space-around;
    background-color: #0a0045;
    box-shadow: 0px 5px 15px rgb(60, 0, 255);
    z-index: 999;
}
header{
    display: flex;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: -40px;
    align-items: center;
    text-align: center;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li,a{
    display: block;
    margin-top: 5px;
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    transition: all ease-in-out 0.5s;
}
li:hover{
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
}
.container_inicio{
    display: grid;
    grid-template-columns: 50% 50%;
}
.container_orientador, .nomes, .container_recurso, .container_automacao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}
.conjunto_inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    height: 99vh;
    position: relative;
    z-index: 1;
}
.nomes, .img_orientadores, .img_logos{
    margin-top: 15px;
    flex-direction: row;
    gap: 260px;
    font-size: x-large;
}
.conjunto_linguagem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 99vh;
    margin-top: 10%;
}
.redes{
    height: 100vh;
    width: 100vw;
    margin-bottom: 655px;
}
.conjunto_automacao, .conjunto_redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    margin-right: 75px;
}
.conjunto_ciencias{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.foto{
    width: 100vw;
    height: 102vh;
}
img{
    height: 4vh;
    width: 2vw;
}
.imagem{
    position: absolute;
    z-index: 2;
    margin-top: -7%;
    margin: auto;
}
#prof_andre, #prof_caina, #prof_gabriel{
    justify-content: space-between;
    width: 300px;
    height: 300px;
    margin: 30px;
    border-radius: 50px;
    border: solid 5px;
    border-color:#140085;
}
#html, #css, #javaScript, #java_logo, #tinkercad, #robotica, #redes, #postgre, #python, #calculo{
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 30px;
    margin-left: 60px;
    border-radius: 5px;
}
.tcp_ip, .estruturas_redes, .aula_redes, .seminario, .mer1, .der, .codigo, .diagrama, .foto_regressao, .plot_reta, .plot_curva, .gif_seno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 45vh;
    margin: 30px;
    box-shadow: -1px 2px 7px rgb(60, 0, 255);
}
.imagens_banco, .imagens_ciencias{
    margin-top: 15vh;
}

.imagens_redes{
    margin-top: 10vh;
    margin-right: -95vw;
}
.title_inicio{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 20vh;
    font: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
}
.title_orientador, .title_recursos, .title_redes, .title_banco, .title_ciencias{
    font-size: xx-large;
    text-align: center;
    width: 50%;
    margin-top: 13vh;
    box-shadow: 6px 6px 15px rgb(60, 0, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title_redes, .title_banco{
    margin-top: 20vh;
    width: 90%;
}
.title_ciencias{
    width: 95%;
    margin-top: 5vh;
}
.title_banco{
    margin-top: -195vh;
}
.title_recursos{
    margin-left: 25%;
}

.title_linguagem, .title_robotica, .title_automacao{
    display: flex; 
    justify-content: center;
    gap: 30px;
    width: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
    margin-top: 145vh;
    margin-bottom: 20px;
    box-shadow: -4px 6px 10px rgb(60, 0, 255);
}
.title_robotica{
    margin-top: 10vh;
}
.title_automacao{
    margin-top: 20vh;
}
.title_curriculo, .title_js{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    font: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
    margin-left: 3%;
    margin-top: 2vh;
}
.title_js{
    font-size:large;
    margin-left: 3%;
}
.title_java, .title_link{
    display: flex; 
    justify-content: center;
    gap: 30px;
    width: 50%;
    margin-top: 170vh;
    margin-left: 25vw;
    color: #ffffff;
    font-size:x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 6px 6px 15px rgb(60, 0, 255);
}
.title_link{
    margin-top: 5vh;
    width: 50%;
    margin-left: 25%;
    font-size: xx-large;
}
.text_inicio{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    position: absolute;
    left: 3vw;
    width: 35vw;
    z-index: 3;
    gap: 30px;
    font: bolder;
    font-size:small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text_linguagem{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;
    text-align: justify;
    right: 3vw;
    width: 50vw;
}
.text_js, .text_redes, .text_banco, .text_ciencias{
    display: flex;
    flex-direction: column;
    color:#ffffff;
    gap: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: bolder;
    font-size:medium;
    text-align: justify;
}
.text_redes{
    width: 50vw;
    gap: 30px;
}
.text_ciencias{
    width: 50vw;
    gap: 35px;
    margin-top: 15vh;
    margin-left: 2vw;
}
.text_banco{
    width: 45vw;
    gap: 30px;
    margin-left: 110vh;
}
.text_img{
   display: flex;
   flex-direction: row;
   gap: 35px;
}
.text_java, .text_robotica{
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 40px;
    margin-left: 2.5%;
    margin-top: 4%;
    margin-bottom: 5%;
    font: bolder;
    font-size:medium;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text_robotica{
    margin-right: -70%;
    margin-left: 25%;
    width: 60vw;
    gap: 35px;
}
.text_automacao{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.img_java{
    width: 40.8vw;
}
.img_java:hover {
    animation: girar 4s linear infinite;
}
@keyframes girar {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
}

#video_culinaria, #video_curriculo, #video_htlm, #video_js, #video_folha, .img_java, .video_java{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 45vh;
    margin-left: 0%;
    margin-top: 14px;
    box-shadow: 1px -2px 7px rgb(60, 0, 255);
}
.videos_linguagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 145vh;
}
.videos_java{
    margin-bottom: 5%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    gap: 5vh;
}
.imagens_automacao{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
#hardware{
    width: 41vw;
    height: 40vh;
    margin-left: -19vw;
    margin-bottom: -20vh;
    margin-top: 5vh;
    box-shadow: 1px -2px 7px rgb(60, 0, 255);
}
.foto_industria, .ana_robo, .video_sequencia, .video_semaforo, .video_ultrassonico{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 50vh;
    margin-top: 100px;
    margin-left: -250px;
    box-shadow: 1px -2px 7px rgb(60, 0, 255);
}
.video_ultrassonico{
    margin-top: -20px;
}
.foto_industria{
    margin-top: -40px;
}
.video_semaforo{
    margin-top: -25px;
}
.container {
    position: relative;
    width: 200px;
    height: 200px;
}
.container:hover .front-image {
    opacity: 0;
}
.container:hover .back-image {
    opacity: 1;
}
.front-image, .back-image {
    position: absolute;
    transition: opacity 0.5s ease;
    width: 520px;
    height: 300px;
    left: -285px;
    box-shadow: 1px -2px 7px rgb(60, 0, 255);
}
.back-image {
    opacity: 0;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0045;
    padding: 3vh;
    gap: 30px;
} 